.loading-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  opacity: 1;
  transition: all 0.25s ease-out;
}

.loading-spinner.not-visible {
  opacity: 0;
  pointer-events: none;
}