.social-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 3rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.social-bar::after {
  content: "";
  display: block;
  width: 1px;
  height: 128px;
  margin: 0, 0;
  background: var(--main-color);
}