html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--main-color);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Bold.eot);
  src: url(../assets/fonts/Poppins/Poppins-Bold.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-Bold.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-Bold.woff) format(woff);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Black.eot);
  src: url(../assets/fonts/Poppins/Poppins-Black.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-Black.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-Black.woff) format(woff);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-BoldItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-BoldItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-BoldItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-BoldItalic.woff) format(woff);
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-ExtraBold.eot);
  src: url(../assets/fonts/Poppins/Poppins-ExtraBold.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-ExtraBold.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-ExtraBold.woff) format(woff);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-BlackItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-BlackItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-BlackItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-BlackItalic.woff) format(woff);
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Light.eot);
  src: url(../assets/fonts/Poppins/Poppins-Light.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-Light.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-Light.woff) format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Medium.eot);
  src: url(../assets/fonts/Poppins/Poppins-Medium.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-Medium.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-Medium.woff) format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-ExtraLightItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-ExtraLightItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-ExtraLightItalic.woff) format(woff);
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-MediumItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-MediumItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-MediumItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-MediumItalic.woff) format(woff);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-ExtraBoldItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff) format(woff);
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-ExtraLight.eot);
  src: url(../assets/fonts/Poppins/Poppins-ExtraLight.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-ExtraLight.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-ExtraLight.woff) format(woff);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Italic.eot);
  src: url(../assets/fonts/Poppins/Poppins-Italic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-Italic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-Italic.woff) format(woff);
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.eot);
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-SemiBold.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-SemiBold.woff) format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Regular.eot);
  src: url(../assets/fonts/Poppins/Poppins-Regular.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-Regular.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-Regular.woff) format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-LightItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-LightItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-LightItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-LightItalic.woff) format(woff);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-ThinItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-ThinItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-ThinItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-ThinItalic.woff) format(woff);
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Thin.eot);
  src: url(../assets/fonts/Poppins/Poppins-Thin.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-Thin.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-Thin.woff) format(woff);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-SemiBoldItalic.eot);
  src: url(../assets/fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix) format(embedded-opentype),
    url(../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff2) format(woff2),
    url(../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff) format(woff);
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

.banner-gradient {
  backdrop-filter: blur(36px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:active {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 2rem;
}

/* .eve, .eve * {
  transition: background-color 0.25s ease-out;
} */
.eve[data-theme="dark"] {
  --main-bg-color: #101010;
  --main-color: #fff;
  --secondary-color: #000;
  --main-text-color: #fff;
  --main-filter: brightness(100%);
}

.eve[data-theme="light"] {
  --main-bg-color: #fff;
  --main-color: #101010;
  --secondary-color: #fff;
  --main-text-color: #000;
  --main-filter: brightness(0%);
}

.eve[data-theme="dark"] {
  background-color: #111;
}