/* global declarations */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  /* font-family: "Roboto Mono", monospace; */
  font-family: ;
  overflow-x: hidden;
  padding: 8px;
}

/* custom fonts */

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/RobotoMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: normal;
  src: local('./fonts/Roboto Mono Italic'), url('./fonts/RobotoMono-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono Bold';
  font-style: bold;
  font-weight: normal;
  src: local('./fonts/Roboto Mono Bold'), url('./fonts/RobotoMono-Bold.woff') format('woff');
}